In [7]:
import os
import requests
import pandas as pd
import matplotlib

In [8]:
key = os.environ['ALPHA_KEY']

In [9]:
print(key)

BOCF38WEBBSOCU3O

In [10]:
payload = {'function': 'TIME_SERIES_DAILY', 'symbol': 'AAPL', 'apikey':'key'}

In [11]:
pay2 = {'p':'8d','i':'86400','f':'d,o,h,l,c,v','q':'GGBR4'}

In [12]:
r = requests.get('https://finance.google.com/finance/getprices?', params=pay2)

In [13]:
t = r.text

In [14]:
l = t.split('\n')[7:-1]

In [15]:
l

['a1525463760,16.84,16.93,16.35,16.48,6804200',
 '3,16.36,17,16.27,16.97,6043700',
 '4,16.33,16.56,15.99,16.36,9411500',
 '5,17.36,17.4,16.97,17.1,22453600',
 '6,17.85,18,17.41,17.46,13133900',
 '7,17.75,18.14,17.57,17.87,10356100',
 '10,17.71,18.12,17.56,17.9,6453900',
 '11,17.78,17.83,17.25,17.51,8949200']

In [16]:
r = l[0].split(',')[1:]
r.insert(0, '0')

In [17]:
a = [i.split(',') for i in l[1:]]
a.insert(0, r)

In [20]:
stock = pd.DataFrame(a)

In [26]:
stock

    0      1      2      3      4         5
0   0  16.84  16.93  16.35  16.48   6804200
1   3  16.36     17  16.27  16.97   6043700
2   4  16.33  16.56  15.99  16.36   9411500
3   5  17.36   17.4  16.97   17.1  22453600
4   6  17.85     18  17.41  17.46  13133900
5   7  17.75  18.14  17.57  17.87  10356100
6  10  17.71  18.12  17.56   17.9   6453900
7  11  17.78  17.83  17.25  17.51   8949200