In [203]:
import os
import requests
import pandas as pd

In [204]:
key = os.environ['ALPHA_KEY']

In [205]:
print(key)

BOCF38WEBBSOCU3O

In [206]:
payload = {'function': 'TIME_SERIES_DAILY', 'symbol': 'AAPL', 'apikey':'key'}

In [207]:
pay2 = {'p':'8d','i':'86400','f':'d,o,h,l,c,v','q':'GGBR4'}

In [208]:
r = requests.get('https://finance.google.com/finance/getprices?', params=pay2)

In [209]:
t = r.text

In [210]:
l = t.split('\n')[7:-1]

In [211]:
l

['a1525377360,16.49,16.59,16.18,16.25,6859400',
 '1,16.84,16.93,16.35,16.48,6804200',
 '4,16.36,17,16.27,16.97,6043700',
 '5,16.33,16.56,15.99,16.36,9411500',
 '6,17.36,17.4,16.97,17.1,22453600',
 '7,17.85,18,17.41,17.46,13133900']

In [212]:
r = l[0].split(',')[1:]
r.insert(0, '0')

In [213]:
a = [i.split(',') for i in l[1:]]
a.insert(0, r)

In [214]:
pd.DataFrame(a)

   0      1      2      3      4         5
0  0  16.49  16.59  16.18  16.25   6859400
1  1  16.84  16.93  16.35  16.48   6804200
2  4  16.36     17  16.27  16.97   6043700
3  5  16.33  16.56  15.99  16.36   9411500
4  6  17.36   17.4  16.97   17.1  22453600
5  7  17.85     18  17.41  17.46  13133900